@font-face {
    font-family: PTSansBold;
    src: url(fonts/PTSans-Bold.ttf);
}

@font-face {
    font-family: PTSansBoldItalic;
    src: url(fonts/PTSans-BoldItalic.ttf);
}

@font-face {
    font-family: PTSansReg;
    src: url(fonts/PTSans-Regular.ttf);

}

* {
    color: #000;
    font-family: PTSansReg;
}

h2 {
    font-size: 36px;
    font-family: PTSansBold;
}

span {
    font-family: PTSansBoldItalic;
}

p, li {
    font-size: 18px;
}

.main-frame {
    z-index: -1;
    position: fixed;
    height: 100vh;
    background-color: #fff;
}

h1 {
    font-family: PTSansBold;
}

a {
    font-weight: 500;
    text-decoration: underline;
    color: rgb(123, 41, 82);
}

a:hover {
    color: rgb(218, 129, 100);
}

h3 {
    font-family: PTSansReg;
}

.lang-div {
    display: flex;
}

.it, .en {
    height: 28px;
    width: 28px;
    border-radius: 50px;
    display: inline-block;
    transition: 200ms;
}

.it {
    background-image: url(./assets/it.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 12px auto auto;
    background-position: center;
}

.image {
    height: 140px;
    margin: auto auto auto 0px;
}

.en {
    background-image: url(./assets/uk.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0px auto 12px;
    background-position: center;
}

.it:hover {
    transform: scale(1.18);
    transition: 200ms;
    cursor: pointer;
}

.en:hover {
    transform: scale(1.18);
    transition: 200ms;
    cursor: pointer;
}

.active-l {
    outline: solid black 1px;
    outline-offset: 2px;
}

.video-banner {
    background-color: rgb(253, 234, 227);
    width: 100%;
}

#button {
    display: inline-block;
    background-color: rgb(253, 234, 227);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 45px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(218, 129, 100);
}

#button:active {
    background-color: rgb(202, 115, 86);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

a.dark {
    color: black;
    font-family: PTSansBold;
}